:root {
    --site-color: #ff608f;
    --site-mid-color: #f77e9f;
    --site-gradient-light: #f97173;
    --site-gradient-dark: #f77e9f;
    --email-icon: #f74d7b;
}

html, body {
    height: auto;
    min-height: 100%;
    font-size: 16px;
}

body {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    padding:0;
    margin:0;
    color: var(--site-color);
    text-align: center;
    background: #031e6f url("../img/bg4.jpg") no-repeat fixed center;
    background-size: cover;
    min-height: 100%;
}

.measure {
    margin: 0 auto;
    max-width: 72rem;
}

header .measure{
    max-width: 100vw;
}

.container {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
}

.mt5 {
    margin-top: 5.0rem;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    font-size: 1.0rem;
}

a img:hover {
    filter: brightness(120%);
}

a:link,
a:visited,
a:hover,
a:active {
    color: var(--site-color);
    text-decoration: none;
}

/* Header */

.site-header {
    width: 100%;
    overflow: hidden;
    padding-top: 2.5vh;
}

.title {
    margin-left: 50px;
    font-size: 4.0rem;
    padding: 0.6rem 1.5rem;
    border: 6px solid #f74d7b;
    border-image-source: linear-gradient(#f97173, #ff2424);
    border-image-slice: 10;
    background: -webkit-linear-gradient(#f97173, #ff2424);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.site-header div {
    justify-content: space-between;
    align-items: center;
}

/* Body Content */

.main {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    overflow: hidden;
    min-height: 75vh;
    margin-top: 1.5rem;
}

.main p {
    margin-left: 1.0rem;
    margin-right: 1.0rem;
}

.articles-heading {
    margin: 2.0rem 0;
    padding: 12px 0;
}

.article {
    margin: 1.0rem 1.0rem 3.8rem 1.0rem;
}

.article p {
    margin: 0.5rem;
}

.article h2 {
    padding-bottom: 0.5rem;
    margin-bottom: 0.1rem;
}

/* Email */

.email-section {
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 1.0rem 0;
}

.email-form {
    margin: auto;
    max-width: 20rem;
}

.email-section label {
    font-size: 1.4rem;
    font-weight: bold;
    margin: 8px 0;
}

.email-form input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    font-size: 1.15rem;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.invalid-input {
    border: 4px solid #d00 !important;
}

.email-form  input[type=submit] {
    width: 100%;
    background: -webkit-linear-gradient(#f97173, #fc4e50);
    color: white;
    font-size: 1.15rem;
    padding: 8px 20px;
    margin: 4px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.email-form  input[type=submit]:hover {
    background: -webkit-linear-gradient(#f9acad, #f97173);
}

.email-success {
    margin: auto;
    max-width: 20rem;
    display: none;
}

/* Footer */

footer {
    height: 7.0rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.2);
}

.fa-copyright {
    font-size: 18px;
}

/* Media Queries */

@media screen and (min-width: 48rem) {
    html, body {
        font-size: 14px;
    }

    .mobile-hidden {
    }
}

@media screen and (min-width: 64rem) {
    html, body {
        font-size: 16px;
    }
}

@media screen and (min-width: 64rem) and (min-height: 1080px){
    html, body {
        font-size: 18px;
    }
}

@media screen and (max-width: 48rem) {
    html, body {
        font-size: 12px;
    }

    .main {
        background-color: rgba(5, 53, 213, 0.6);
    }
}

@media screen and (orientation: landscape) and (max-height: 900px) {
    html, body {
        font-size: 14px;
    }
}

@media screen and (orientation: landscape) and (max-height: 600px) {
    html, body {
        font-size: 11px;
    }

    .main {
        background-color: rgba(5, 53, 213, 0.6);
        min-height: 90vh;
        padding-top: 10vh;
        padding-left: 0;
        padding-right: 0;
    }

    .mail-link {
        margin-top: 0;
    }
}

@media screen and (max-width: 36rem) {
    html, body {
        font-size: 11px;
    }

    .mobile-hidden {
        display: none !important;
        width: 0;
        height: 0;
    }

    .mobile-right{
        margin-right: -100px;
    }

    .container {
        justify-content: space-between;
    }

    .site-title-img {
        height: 2.1rem;
        margin-right: 20px;
    }

    .main {
        padding: 0;
    }

    .countdown {
        font-size: 4.0rem;
    }

    .countdown-text {
        font-size: 1.2rem;
    }
}

@media screen and (max-height: 360px) {
    html, body {
        font-size: 8px;
    }
}

