:root {
    --space-1: .5rem;
    --space-2: 1.0rem;
    --space-3: 1.5rem;
    --space-4: 2.0rem;
    --site-color: #cecece;
}

html, body {
    height: auto;
    min-height: 100%;
    font-size: 16px;
}

body {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: #333333;
    font-family: 'Aclonica', sans-serif;
    padding:0;
    margin:0;
    color: var(--site-color);
    text-align: center;
}

.measure {
    margin: 0 auto;
    max-width: 42rem;
}


.container {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.0rem;
}

a img:hover {
    filter: brightness(120%);
}

a:link,
a:visited,
a:hover,
a:active {
    color: #cecece;
    text-decoration: none;
}

/* Header */

.site-header {
    background-color: #151515;
    width: 100%;
    height: 5.8rem;
    box-shadow: 0 6px 6px #151515;
    overflow: hidden;
    padding-top: 1.0rem;
    padding-bottom: 1.0rem;
}

.site-logo-img {
    height: 5.5rem;
    width: auto;
    margin: 0 20px;
}

.site-title-img {
    height: 3.2rem;
    width: auto;
    margin: auto;
}

.site-github-img {
    height: 3.5rem;
    width: auto;
    margin: 0 20px;
}

.site-header div {
    justify-content: space-between;
    align-items: center;
}

/* Body Content */

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    padding-top: 1.5rem;
    padding-bottom: 2rem;
}

.main div {
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
}

/* Footer */

footer {
    height: 36px;
    width: 100%;
    padding-top: 10px;
    background-color: #151515;
    display: flex;
    justify-content: center;
    box-shadow: 0 -6px 6px #151515;
}

.spacer {
    min-width: 22%;
}

.fa-copyright {
    font-size: 18px;
}

/* Media Queries */

@media screen and (max-width: 32rem) {
    html {
        font-size: 12px;
    }

    .mobile-hidden {
        display: none !important;
        width: 0;
        height: 0;
    }

    .mobile-right{
        margin-right: -100px;
    }

    .container {
        justify-content: space-between;
    }

    .site-title-img {
        height: 2.1rem;
        margin-right: 20px;
    }

    .spacer {
        min-width: 3vw;
    }
}

@media screen and (max-width: 48rem) {
    html {
        font-size: 14px;
    }
}

@media screen and (min-width: 48rem) {
    html {
        font-size: 16px;
    }

    .mobile-hidden {
    }
}

@media screen and (min-width: 64rem) {
    html {
        font-size: 18px;
    }
}
